/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #eee;
}

.header {
  background-color: #f00;
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 16px;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  width: 900px;
  border-style: solid;
  margin: auto;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  color: white;
}